@charset "UTF-8";

html {
    height: 100%;
    min-height: 100%; 
}  

body {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

footer {
	margin-top: 20;
    color: #fff; text-align: center; font-size: 1.25em; padding: 10px; min-height: 50px;
}

header{ 
     text-align: center;
     color:white;
     height: 100%;
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;
}

header a:hover{text-decoration: none; color:#fff;}

.button{
    color: white; 
    display: inline-block;
    text-decoration: none;
    font-size: 20px;
    padding: 20px 40px;
    border-radius: 8px; 
}

.container{
    margin-top:30px;
}

.container img {
    max-height: 155px;
    height: 155px;

}

.about-description{color: #fff; min-height: 200px; background-position: center; background-size: cover; background-repeat: no-repeat;}

.subtitle{
	text-align: center;
}

p{
   font-size: 20px;
}

.panel-form{
     min-height: 200px; background-position: center; background-size: cover; background-repeat: no-repeat;
}

.section3{
	  min-height: 200px; background-position: center; background-size: cover; background-repeat: no-repeat;
}




